.responsive {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

div{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Roboto";
  font-size: 60px;
}

body {background-color: #121212;}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/roboto-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v20-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v20-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v20-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}